# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.to

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.swp

# Binaries #
hybrid-Lambda
hybrid-Lambda_dbg
hybrid-Lambda_prof

# doc #
######################
doc/manual.aux
doc/manual.out
doc/net1-figure0.dpth
doc/net1-figure0.dvi
doc/net1-figure0.pdf
doc/net1-figure0.ps
doc/net1-figure1.dpth
doc/net1-figure1.dvi
doc/net1-figure1.eps
doc/net1-figure1.ps
doc/net1.aux
doc/net1.auxlock
doc/net1.dvi
html
reference

# automake
Makefile
Makefile.in
autom4te.cache
config.*
depcomp
install-sh
missing
configure
aclocal.m4
.deps
INSTALL

# figures
src/texfigure.aux
src/texfigure.pdf
src/texfigure.tex
src/dotfigure.eps
src/dotfigure.pdf
src/dotfigure.ps

# examples 
OUT*
example*
GENE*

#tests
tests/caterpillar_test/*gt*
